.third-page-container {
    height: 100vh;
    background-color: rgb(246, 246, 255);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-header {
    color: rgb(99, 99, 255);
    background-color: white;
    cursor: pointer;
    font-size: 3rem;
    border-radius: 1rem;
    width: 95%;
    margin-left: 2.5%;
}

.contact-modal {
    width: 95%;
    background-color: white;
    border-radius: 1rem;
    margin-left: 2.5%;
    margin-top: 10%;
    display: flex;
}

.contact-container {
    width: 50%;
    padding-top: 5rem;
}

@media screen and (max-width: 645px) {
    .contact-container{
        width: 65%;
  }
  }


.contact-flex {
    display: flex;
    margin-left: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 3px 3px rgb(243, 242, 242);
    padding: .5rem 2rem;
    align-items: center;
}

.contact-flex>h2 {
    margin-right: 1rem;
}

@media screen and (max-width: 855px) {
    .contact-flex>h2{
        font-size: 1rem;
  }
  }

  @media screen and (max-width: 645px) {
    .contact-flex>h2{
        font-size: .8rem;
  }
  }


.bitmoji-container {
    width: 50%;
}

.bitmoji {
    border-radius: 50%;
    height: 30rem;
}

@media screen and (max-width: 855px) {
    .bitmoji{
        height: 15rem;
  }
  }

  @media screen and (max-width: 855px) {
    .bitmoji-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
  }
  }

  @media screen and (max-width: 645px) {
    .bitmoji{
        height: 8rem;
  }
  }



.contact-icons {
    width: 64px;
    margin-right: 2rem;
}

@media screen and (max-width: 855px) {
    .contact-icons{
        width: 32px;
  }
  }


.link-btn {
    color: white;
    background-color: rgb(84, 84, 250);
    border-radius: .3rem;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 2rem;
    margin-left: 2rem;
}

@media screen and (max-width: 855px) {
    .link-btn{
        padding: .2rem .7rem;
  }
  }

  @media screen and (max-width: 645px) {
    .link-btn{
        padding: .1rem .4rem;
        font-size: .8rem;
  }
  }


.link-btn:hover{
    color: rgb(84, 84, 250);
    background-color: white;
    cursor: pointer;
}